.footer {
  width: 100%;
  background-color: $very-light-gray;
  height: 400px;
  margin-top: 2.5rem;

  .bg4 {
    display: flex;
    background-size: auto 150px;
    width: 600px;
    height: 400px;
    background: url("../images/bg-pattern-footer-desktop.svg") no-repeat;
    position: absolute;
    left: 0;
    //transform: scale(0.9);
  }
  .footer-container {
    .footer-content {
      padding: 1.5rem 0;
      .footer-header {
        width: 100%;
        display: flex;
        align-items: center;
        height: 120px;
        justify-content: space-between;
        //background: chartreuse;

        .social-container {
          .soc {
            display: flex;
            align-items: center;
            .soc-items {
              list-style: none;
              margin-left: 0.5rem;
              transform: scale(0.7);
              cursor: pointer;

              &:hover {
                //background-color: $first-color;
                fill: $first-color;
              }
            }
          }
        }
      }

      hr {
        width: 100%;
        height: 2px;
      }

      .footer-links {
        display: flex;
        margin-top: 2rem;
        align-items: center;
        justify-content: flex-start;

        ul {
          width: 100%;
          li {
            list-style: none;
            margin-top: 10px;

            a {
              text-decoration: none;
              color: $first-color;
              font-weight: 500;
              font-size: 15px;
              text-transform: uppercase;

              &:hover {
                text-decoration: underline;
              }
            }
          }
          h3 {
            margin-bottom: 1rem;
            color: $dark-grayis-violet;
            text-transform: uppercase;
            font-size: 15px;
          }
        }
      }
    }
  }
}
