.footer {
  width: 100%;
  background-color: $very-light-gray;
  height: 400px;
  margin-top: 2.5rem;

  .bg4 {
    display: flex;
    background-size: auto 150px;
    width: 600px;
    height: 400px;
    background: url("../images/bg-pattern-footer-desktop.svg") no-repeat;
    position: absolute;
    left: 0;
    //transform: scale(0.9);
    @media screen and (max-width: 750px) {
      background: url("../images/bg-pattern-footer-mobile.svg") no-repeat;
      width: 100%;
    }
  }
  .footer-container {
    .footer-content {
      padding: 1.5rem 0;
      .footer-header {
        width: 100%;
        display: flex;
        align-items: center;
        height: 120px;
        justify-content: space-between;
        //background: chartreuse;

        .social-container {
          .soc {
            display: flex;
            align-items: center;
            .soc-items {
              list-style: none;
              margin-left: 0.5rem;
              transform: scale(0.7);
              cursor: pointer;

              &:hover {
                //background-color: $first-color;
                fill: $first-color;
              }

              img {
                svg {
                  &:hover {
                    fill: $first-color;
                  }
                }
              }
            }
          }
        }
      }

      hr {
        width: 100%;
        height: 2px;
      }

      .footer-links {
        display: flex;
        margin-top: 2rem;
        align-items: center;
        justify-content: flex-start;

        ul {
          width: 100%;
          li {
            list-style: none;
            margin-top: 10px;

            a {
              text-decoration: none;
              color: $first-color;
              font-weight: 600;
              font-size: 15px;
              text-transform: uppercase;

              &:hover {
                text-decoration: underline;
              }
            }
          }
          h3 {
            margin-bottom: 1rem;
            color: $dark-grayis-violet;
            text-transform: uppercase;
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .footer {
    height: max-content;
    width: 100%;

    .footer-container {
      width: 100%;

      .footer-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .footer-header {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .social-container {
            display: flex;
            align-items: center;
            .soc {
              margin-left: -63px;
              margin-top: 1.5rem;
              .soc-items {
                transform: scale(0.9);
                margin-left: 15px;
              }
            }
          }
        }
        .footer-links {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          margin-left: -40px;

          ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            li {
              a {
              }
            }
            h3 {
              margin: 1.5rem 0 1rem 0;
            }
          }
        }
      }
    }
  }
}
