.navbar {
  width: 100%;
  z-index: 1000;
}
.navbar-container {
  display: flex;
  height: 70px;
  align-items: center;

  justify-content: space-between;

  .menu-icon {
    display: none;
  }
}

.logo {
  display: flex;
  justify-content: flex-start;
}
.menu-items {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  padding-left: 10px;
}
.nav-list {
  display: flex;
  text-decoration: none;
  align-items: center;

  .nav-items {
    margin-left: 0.95rem;
    list-style: none;

    a {
      text-decoration: none;
      color: #767677;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 15px;
      &:hover {
        color: $first-color;
        font-weight: 600;
      }
    }
  }
  .btn {
    height: 35px;
    display: flex;
    align-items: center;
    width: max-content;
    background-color: transparent;
    border: 1px solid $first-color;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      color: #fff !important;
      background-color: $first-color;

      a {
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .navbar {
    .navbar-container {
      display: flex;
      justify-content: space-between;
      .menu-icon {
        display: block;
      }
      .menu-items {
        display: flex;
        flex-direction: column;
        //align-items: center;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 2.5rem;
        margin: 0 auto;
        width: 100%;
        position: absolute;
        top: -100vh;
        left: 0;
        height: 100vh;
        background-color: $very-dark-violet;
        z-index: 1000;
        transition: 0.2s ease;

        .nav-list {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100%;
          text-align: center;
          margin-left: -1.7rem;
          //margin: 0 auto;

          .nav-items {
            margin-left: 0;
            margin-bottom: 1.5rem;

            a {
              color: #fff;
              font-size: 29px;
            }
          }
          .btn {
            display: flex;
            width: 100%;
            border: 1px solid #fff;
            padding: 30px 50px;
            text-align: center;
            justify-content: center;
          }
        }
        &.active {
          top: 69px;
        }
      }
    }
  }
}
