.product {
  width: 100%;
  height: max-content;
  @media screen and (max-width: 750px) {
  }
  padding-bottom: 1rem;
  .product-container {
    .product-content {
      .title {
        margin-bottom: 1.5rem;
        @media screen and (max-width: 750px) {
          text-align: center;
        }
      }

      .product-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 49px;
        row-gap: 80px;
        .product-1 {
          .product-icon {
            transform: scale(0.7);
            margin-left: -50px;
          }
          h3 {
            margin-bottom: 1rem;
          }
        }
      }
      .product-extra {
        width: 100%;
        background: $first-color;
        display: flex;
        padding: 2rem 0;
        margin-top: 3rem;

        .bg3 {
          display: flex;
          background-size: auto 150px;
          background: url("../images/bg-pattern-how-we-work-desktop.svg")
            no-repeat;
          width: 280px;
          height: 390px;
          background-size: contain;
          position: absolute;
          right: 0;
          transform: translate(-170px, -67px) scale(0.8);
          @media screen and (max-width: 750px) {
            background: url("../images/bg-pattern-how-we-work-mobile.svg")
              no-repeat;
            background-size: auto 250px;
            width: 32%;
            height: 254px;
            //background-size: -250px -250px;
            transform: translate(-3px, -50px) scale(0.86);
            overflow: hidden;
          }
          @media screen and (max-width: 375px) {
            background: url("../images/bg-pattern-how-we-work-mobile.svg")
              no-repeat;
            width: 58%;
            height: 254px;
            //background-size: -250px -250px;
            transform: translate(10px, -40px) scale(0.9);
            overflow: hidden;
          }
        }
        .extra {
          width: 80%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #fff;
          z-index: 1;

          .plan-btn {
            display: block;
            color: #fff;
            width: max-content;
            height: max-content;
            padding: 8px 22px;
            background-color: transparent;
            border: 0.5px solid #fff;
            outline-style: inset;
            outline-width: 0.5px;
            margin-top: 1.5rem;
            cursor: pointer;
            font-weight: 500;
            transition: 0.2s ease;

            &:hover {
              background: $very-light-gray;
              color: $very-dark-violet;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .product {
    display: flex;
    margin-top: 5.8rem;
    margin-bottom: 6rem;
    .product-container {
      margin-top: 3rem;
      .product-content {
        .title {
          color: $first-color;
          font-size: 3rem;
        }
        .product-grid {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .product-1 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h3 {
              color: $first-color;
              font-size: 2.5rem;
            }
            p {
              text-align: center;
            }
            .product-icon {
              margin: 1rem 0;
              transform: scale(1);
            }
          }
        }
        .product-extra {
          flex-direction: column;

          .extra {
            flex-direction: column;
            text-align: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
