@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

// Primary
$first-color: hsl(256, 26%, 20%);
$first-color-alt: hsl(216, 30%, 68%);

// Neutral

$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayis-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);

// Body Copy

$body-font: 16px;

$first-font: "Karla", sans-serif;
